/vendor
/node_modules
/public/storage
/public/assets/build
/.idea
Homestead.yaml
Homestead.json
.env
.DS_Store
Thumbs.db
composer.phar
composer.lock
.php_cs.cache
storage/debugbar
public/themes/*
!public/themes/vanti/
!public/themes/default/
