{% extends('vanti::layout') %}

{% block page_title %}
    {{ label('home') }}
{% endblock %}

{% block content %}
    {% set menuIntro = menu_find_by_position('intro') %}
    {% set menuSlider = menu_find_by_position('slider') %}
    {% set menuService = menu_find_by_position('servizi') %}

    <div class="home-carousel">
        <div class="home-slider owl-carousel owl-theme">
            {% for item in menu_items(menuSlider) %}
                <div class="item owl-lazy" data-src="{{ resample(item.page.secondary_image ?: item.page.primary_image) }}">
                    <div class="overlay"></div>

                    <div class="slider-caption animated fadeInUp">
                        <h2 class="title text-uppercase">{{ item.page.title }}</h2>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="container">
        <section class="home-section">
            <div class="title">
                <h2 class="text-uppercase">{{ menuIntro.title }}</h2>
                <hr>
            </div>

            {% for item in menu_items(menuIntro) %}
                <h3 class="section-subtitle">{{ item.page.title }}</h3>
                <div class="section-content">{{ item.page.excerpt_or_content|raw }}</div>
            {% endfor %}
        </section>
    </div>

    <div id="service_section" class="parallax" style="background: url({{ theme_asset('img/excavator.jpg') }}) fixed center;">
        <div class="overlay"></div>
        <h1 class="overlay-title text-uppercase">{{ menuService.title }}</h1>
    </div>

    <div class="container">
        {% for item in menu_items(menuService) %}
            {{ include('vanti::partials.page_grid', {
                page: item.page
            }) }}
        {% endfor %}
    </div>
{% endblock %}
