{% extends('vanti::page') %}

{% import 'vanti::macro.form' as formMacro %}

{% block page_content %}
    <div class="container">
        <div class="row">
            <div class="{{ page.form ? 'col-md-8' : 'col-md-12' }}">
                {{ page.content|raw }}
                <br />
            </div>

            {% if page.form %}
                <div class="col-md-4">
                    <div class="well well-sm well-contact">
                        {{ formMacro.bootstrap(page.form, { align: 'vertical' }) }}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
