@mixin wrappedTitle($margin: 14px) {
    &:before {
        box-sizing: border-box;
        color: $vanti-color;
        content: "[";
        display: inline;
        height: auto;
        margin-right: $margin;
        width: auto;
    }
    &:after {
        box-sizing: border-box;
        color: $vanti-color;
        content: "]";
        display: inline;
        height: auto;
        margin-left: $margin;
        width: auto;
    }
}

@mixin vertical-align($position: relative) {
    top: 50%;
    position: $position;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
