$font-monda: Monda, Arial, Helvetica, sans-serif;
$font-open-sans: "Open Sans", Arial, Helvetica, sans-serif;
$vanti-color: #00CCFF;

// Navbar
$navbar-height: 80px;
$navbar-inverse-bg: #191919;
$navbar-inverse-brand-color: $vanti-color;

// Headings
$headings-font-family: $font-monda;

// Footer
$footer-border: 6px;
$footer-height: 120px;
