{# ---------------------------------------------------
    FORMS
--------------------------------------------------- #}
{% macro form_bootstrap(form, parameters) %}

    {% set fill        = parameters.fill %}
    {% set align       = parameters.align|default('horizontal') %}
    {% set label_class = (align == 'horizontal') ? 'control-label col-md-3' : null %}

    {% if form %}
    <div class="form-cont">

        {# ---- NOTIFICHE ---- #}
        {% if form.success %}
            <div class="alert alert-success">{{ form.success }}</div>
        {% endif %}

        {% if form.title or form.description %}
        <div class="form-heading">
            {# ---- TITOLO FORM ---- #}
            {% if form.title %}
                <h4 class="page-header">{{ form.title }}</h4>
            {% endif %}

            {# ---- DESCRIZIONE FORM ---- #}
            {% if form.description %}
                <div class="page-subtitle">{{ form.description }}</div>
            {% endif %}
        </div>
        {% endif %}

        {{ form.open({ class: "form-#{align}" }) }}
            {% for field in form.fields %}

                {% if field.is_hidden %}
                    {% if field.info.name in fill|keys %}
                        {{ field.input({ value: fill[field.info.name] }) }}
                    {% else %}
                        {{ field.input }}
                    {% endif %}

                {% else %}
                    <div class="form-group {{ field.error ? 'has-error' : '' }}">

                        {# ---- ETICHETTA CAMPO ---- #}
                        {{ field.label({ class: label_class }) }}

                        {% if align == 'horizontal' %}
                        <div class="controls col-md-7">
                        {% endif %}

                            {# ---- CAMPO ---- #}
                            {% if field.info.name in fill|keys %}
                                {{ field.input({ value: fill[field.info.name] }) }}
                            {% else %}
                                {{ field.input }}
                            {% endif %}

                            {# ---- ERRORI DI VALIDAZIONE E DESCR CAMPO ---- #}
                            {% if field.error %}<span class="help-inline text-danger" >{{ field.error }}</span>{% endif %}
                            {% if field.descr %}<span class="help-block">{{ field.descr }}</span>{% endif %}

                        {% if align == 'horizontal' %}
                        </div>
                        {% endif %}
                    </div>
                {% endif %}

            {% endfor %}


            {# ---- PULSANTI FORM ---- #}
            {% if form.fields %}
                {% if align == 'horizontal' %}
                    <div class="form-group form-actions">
                        <div class="col-md-7 col-md-offset-3">
                            {{ form.submit({ class: 'btn btn-primary' }) }}
                        </div>
                    </div>
                {% else %}
                    <div class="form-group form-actions">
                        {{ form.submit({ class: 'btn btn-primary btn-block' }) }}
                    </div>
                {% endif %}
            {% endif %}
        {{ form.close }}
    </div>
    {% endif %}
{% endmacro %}
