{# ---------------------------------------------------
    FORMS
--------------------------------------------------- #}
{% macro bootstrap(form, parameters) %}
    {% set fill        = parameters.fill %}
    {% set align       = parameters.align|default('horizontal') %}
    {% set label_class = (align == 'horizontal') ? 'control-label col-md-3' : null %}

    {% if form %}
    <div class="form-cont">
        {% if form.success %}
            <div class="alert alert-success">{{ form.success }}</div>
        {% endif %}

        {% if form.title or form.description %}
        <div class="form-heading">
            {% if form.title %}
                <h4 class="page-header">{{ form.title }}</h4>
            {% endif %}

            {% if form.description %}
                <div class="page-subtitle">{{ form.description|raw }}</div>
            {% endif %}
        </div>
        {% endif %}

        {{ form_open({ url: form.action, class: "form-#{align}" }) }}
            {{ Honeypot.generate('hp', 'hp_time')|raw }}

            {% for field in form.fields %}
                {% set value = field.value ?: null %}
                {% set field_error = session_get('errors').first(field.name) %}

                {% if field.type == 'hidden' %}
                    {% if field.info.name in fill|keys %}
                        {{ field.input({ value: fill[field.info.name] }) }}
                    {% else %}
                        {{ form_hidden(field.name, value) }}
                    {% endif %}

                {% else %}
                    <div class="form-group {{ field.error ? 'has-error' : '' }}">
                        <label class="{{ label_class }} {{ 'required' in field.rules ? 'label-required' : null }}">
                            {{ field.label }}
                        </label>

                        {% if align == 'horizontal' %}
                            <div class="controls col-md-7">
                        {% endif %}
                            {% if field.info.name in fill|keys %}
                                {{ field.input({ value: fill[field.info.name] }) }}

                            {% else %}
                                {% if field.type == 'select' %}
                                    {{ form_select(field.name, field.options_list.pluck('label', 'value'), value, { class: 'form-control' }) }}
                                {% elseif field.type == 'textarea' %}
                                    {{ form_textarea(field.name, value, { class: 'form-control' }) }}
                                {% elseif field.type in ['checkbox', 'radio'] %}
                                    {% for option in field.options_list %}
                                        {% set checked = option.value|lower in field.value|lower|split(',') %}

                                        {% if field.type == 'checkbox' %}
                                            <div class="checkbox">
                                                <label>
                                                    {{ form_checkbox(field.name ~ "[]", option.value, checked) }} {{ option.label }}
                                                </label>
                                            </div>
                                        {% else %}
                                            <div class="radio">
                                                <label>
                                                    {{ form_radio(field.name ~ "[]", option.value, checked) }} {{ option.label }}
                                                </label>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    {{ form_text(field.name, value, { class: 'form-control' }) }}
                                {% endif %}
                            {% endif %}

                            {% if field_error %}
                                <small class="help-inline text-danger" >{{ field_error }}</small>
                            {% endif %}

                            {% if field.description %}
                                <small class="help-block">{{ field.description }}</small>
                            {% endif %}

                        {% if align == 'horizontal' %}
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
            {% endfor %}

            {% if form.fields %}
                {% set form_submit_lbl = label('form_submit') ?: null %}

                {% if align == 'horizontal' %}
                    <div class="form-group form-actions">
                        <div class="col-md-7 col-md-offset-3">
                            {{ form_submit(form_submit_lbl, { class: 'btn btn-primary' }) }}
                        </div>
                    </div>
                {% else %}
                    <div class="form-group form-actions">
                        {{ form_submit(form_submit_lbl, { class: 'btn btn-primary btn-block' }) }}
                    </div>
                {% endif %}
            {% endif %}
        {{ form_close }}
    </div>
    {% endif %}
{% endmacro %}
